.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    .submit{
        cursor: pointer;
        border: none;
        color: white;
        font-size: 24px;
        padding: 20px;
        border-radius: 20px;
        line-height: 22.08px;
        background-color: var(--color-primary);
    }
    .submit:disabled {
        background-color: #44475a80;
    }
    .validate{
        border: none;
        border-radius: 20px;
        width: 80px;
        height: 27px;
        color: white;
        background-color: var(--color-third);
        margin-left: -90px;
    }
    .validate:disabled {
        background-color: #16aaff93;
    }
}
